<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anuj Kumar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>



<h2>Matrix to Row Echelon Form </h2>
<h4>Please change the pre-filled values </h4>
<form id="echelonForm">
    <textarea id="matrix" rows="5", cols="15" >1 2 3 
3 4 4 
3 4 5</textarea>
    <button type="submit">Convert</button>
</form>
<div id="echelonResult"></div>



<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
