<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equation Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Simple Equation Solver</h1>
<form id="equationForm">
    <label>Enter a:</label>
    <input type="number" id="a" required>
    <label>Enter b:</label>
    <input type="number" id="b" required>
    <button type="submit">Solve</button>
</form>
<h2 id="result"></h2>


<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
